.bg-color {
  background-color: rgb(80, 80, 80);
}
.txt-color {
  color: rgb(80, 80, 80);
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.name h3,
h1,
h2,
h4 {
  font-style: italic !important;
  font-weight: 500;
}
.logo {
  font-size: 40px;
}
.nav-link {
  color: rgb(220, 220, 220) !important;
}
.nav-links a:last-child {
  border: 2px solid rgb(209, 247, 255);
}
