.Question{
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.fa-caret-down{
    color: white;
    scale: 1.5;
}

.Answer p{
    padding-top: 1rem;
    color : white;
    justify-content: start;
}

.Faq-container{
    width: 100%;
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    background-color: black;
    padding: 2%;
    border-radius: 10px;
}

.Answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height .7s ease-in-out;
}

.Answer.Clicked{
    max-height: 300px;
}