* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.Dropdown {
	/* width: 400px; */
	user-select: none;
	/* margin: 100px auto; */
	position: relative;
}

.Dropdown p {
	font-weight: 550;
}
.row {
	font-weight: 550;
}

.Dropdown .Dropdown-btn {
	padding: 15px 20px;
	background: #fff;
	border: 1px solid rgb(212, 205, 205);
	border-radius: 10px;
	color: #333;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Dropdown .Dropdown-content {
	position: absolute;
	top: 110%;
	left: 0;
	padding: 10px;
	background: #fff;
	box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
	font-weight: 500;
	color: #333;
	width: 95%;
}
.select {
	font-weight: 400;
}
.Dropdown .Dropdown-content .Dropdown-item {
	padding: 10px;
	cursor: pointer;
}

.Dropdown .Dropdown-content .Dropdown-item:hover {
	background: #f4f4f4;
	transition: all 0.2s;
}
.add {
	border: 1px solid rgb(70, 67, 67);
	border-radius: 5px;
	height: 35px;
	width: 60px;
	margin-top: 25px;
}

.fa-sharp {
	color: #000000;
	align-content: center;
	justify-content: center;
}
