.sassy--select {
    border: none;
    border-radius: .25rem;
    display: inline;
    padding: .2rem .4rem
}

.sassy--select__container {
    border-radius: .25rem;
    position: relative
}

.sassy--select:focus {
    box-shadow: var(--ring-shadow);
    outline: none
}

.sassy--select.sassy--select__disabled {
    opacity: var(--disabled-opacity);
    pointer-events: none
}

.sassy--select.sassy--select__disabled:focus {
    box-shadow: none
}

.sassy--select__dropdown {
    background: var(--select-background);
    border: none;
    border: var(--outline);
    border-radius: .5rem;
    box-shadow: var(--shadow-md);
    display: flex;
    flex-direction: column;
    max-height: 40vh;
    overflow: auto;
    padding: .5rem;
    position: absolute;
    scrollbar-width: none;
    top: 1.5rem;
    z-index: 2
}

.sassy--select__dropdown::-webkit-scrollbar {
    display: none
}

.sassy--option,
.sassy--select {
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 500
}

.sassy--option:focus {
    box-shadow: var(--ring-shadow);
    outline: none
}

.sassy--option__disabled {
    color: var(--disabled-color);
    pointer-events: none
}

.sassy--select:hover {
    cursor: context-menu
}

.sassy--option {
    background: var(--option-background);
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    margin-top: .25rem;
    padding: .25rem .4rem;
    transition: all .1s ease
}

.sassy--option:first-of-type {
    margin-top: 0
}

.sassy--option:hover,
.sassy--option__active {
    background-color: var(--theme-color);
    box-shadow: var(--shadow);
    color: var(--selected-date-color)
}

.sdp {
    background: var(--background);
    border: none;
    border: var(--outline);
    border-radius: .5rem;
    box-shadow: var(--shadow);
    padding: .75rem;
    width: 16rem
}

.sdp--disabled {
    pointer-events: none
}

.sdp--month-name:focus,
.sdp--square-btn:focus,
.sdp:focus {
    box-shadow: var(--ring-shadow);
    outline: none
}

.sdp--month-name {
    border: none;
    border-radius: .5rem;
    padding: .5rem
}

.sdp--text {
    font-family: var(--font);
    font-weight: 500;
    margin: 0
}

.sdp--text__inactive {
    color: var(--disabled-color);
    pointer-events: none
}

.sdp--square-btn {
    align-items: center;
    background-color: var(--btn-background);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    font-family: var(--font);
    height: 1.8rem;
    justify-content: center;
    transition: all .2s ease-in-out;
    width: 1.8rem
}

.sdp--square-btn__outlined,
.sdp--square-btn__outlined:focus:hover {
    border: var(--outline)
}

.sdp--square-btn:focus:hover {
    box-shadow: none
}

.sdp--square-btn__shadowed,
.sdp--square-btn__shadowed:focus:hover {
    box-shadow: var(--shadow)
}

.sdp--date-btn__selected {
    background-color: var(--theme-color);
    box-shadow: var(--shadow);
    color: var(--selected-date-color)
}

.sdp--date-btn__selected.sdp--square-btn:focus {
    box-shadow: var(--shadow)
}

.sdp--header {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.sdp--grid {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    margin: .5rem 0 0
}

.sdp--grid>p.sdp--text {
    padding: .5rem 0
}

.sdp--header__main {
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-content: center
}

.sdp--select__month button {
    text-align: left
}

.sdp,
.stp {
    --font: inherit;
    --shadow: transparent 0px 0px 0px 0px, transparent 0px 0px 0px 0px, rgba(0, 0, 0, .1) 0px 1px 3px 0px, rgba(0, 0, 0, .06) 0px 1px 2px 0px;
    --shadow-md: transparent 0px 0px 0px 0px, transparent 0px 0px 0px 0px, rgba(0, 0, 0, .1) 0px 4px 6px -1px, rgba(0, 0, 0, .06) 0px 2px 4px -1px;
    --theme-color: #60a5fa;
    --text-color: #1f1f1f;
    --background: #fff;
    --btn-background: #fff;
    --select-background: #fff;
    --option-background: #fff;
    --selected-date-color: #fff;
    --disabled-color: #bdbdbd;
    --disabled-opacity: 50%;
    --outline: 1px solid #cbd5e1;
    --ring-shadow: 0px 0px 0px 2px rgba(97, 166, 250, .7);
    background: var(--background);
    color: var(--text-color)
}

.stp {
    border: none;
    border: var(--outline);
    border-radius: .5rem;
    box-shadow: var(--shadow);
    display: inline-flex;
    font-family: var(--font);
    outline: none;
    padding: .5rem .4rem
}

.stp--disabled {
    pointer-events: none
}

.stp--divider {
    align-items: center;
    display: inline-flex;
    justify-content: center
}

.stp--divider__disabled {
    opacity: var(--disabled-opacity)
}

.stp * {
    outline: none
}

.stp:focus {
    box-shadow: var(--ring-shadow)
}

.stp>p {
    display: inline;
    margin: 0 2px
}

.stp {
    --theme-color: #8b5cf6 !important;
    /* violet color */
}

/* My csss */

.MainProfileBody {
    display: flex;
    flex-direction: column;
    background-color: linear-gradient(to right top, #a7afae, #a0aeaf, #9aadb1, #96abb5, #94a8b8, #96abbc, #99afc1, #9bb2c5, #a1bdcb, #a9c7d0, #b3d1d4, #bfdad9);
}

.ProfileHeadContainer {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 200px;
    
}

.ProfileHead {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: white;
    box-shadow: rgba(51, 7, 35, 0.4) 5px 5px, rgba(37, 8, 27, 0.3) 10px 10px, rgba(8, 1, 6, 0.2) 15px 15px, rgba(14, 1, 9, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    padding: 5%;
    border: 2px solid #1f1f1f;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    background-image: linear-gradient(to right, #265778, #50738e, #7691a5, #9dafbc, #c5ced4);
}


.ProfilePic {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 4px solid #44344F;
}

.NameAndInstitution {
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.Calendar-design {
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #1f1f1f;
    background-image: radial-gradient(circle, #265778, #50738e, #7691a5, #9dafbc, #c5ced4);
}

.Summary-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.Summary {
    text-align: center;
    padding: 4px;
    border: 3px double #000000;
}

.Money-dashboard {
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 1%;
    flex-wrap: wrap;
}

.Money-card {
    margin: 1%;
    width: 100%;
    max-width: 350px;
    padding: 1%;
    border: 2px solid #1f1f1f;
    border-radius: 8px;
    text-align: center;
    background-image: linear-gradient(to right, #000000, #272627, #484849, #6c6d6f, #919496);
    color: white;
    box-shadow: rgba(51, 7, 35, 0.4) 5px 5px, rgba(37, 8, 27, 0.3) 10px 10px, rgba(8, 1, 6, 0.2) 15px 15px, rgba(14, 1, 9, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    padding: 5%;
}

.Withdrwan {
    background-image: linear-gradient(to right, #000000, #282327, #46424e, #5f6779, #718fa3);
}

.Remaining {
    background-image: linear-gradient(to right, #000000, #231a21, #393043, #414b6a, #346b90);
}

.Committee {
    background-image: linear-gradient(to right, #000000, #251714, #3c2b17, #44461d, #346438);
}

.Profile-info {
    display: flex;
    flex-direction: row;
    gap: 25%;
    justify-content: center;
    margin-bottom: 2%;
}

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.Cleared-voucher h1 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
}

.Cleared-voucher h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #111;
}

.Cleared-voucher h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
}

.Catalogue-summary-container{
    display: flex;
    flex-direction: column;
    margin: 1%;
    align-content: center;
    justify-content: center;
}

.Catalogue-box{
    display: flex;
    flex-direction: rox;
    width: 100%;
    max-width: 1200px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin: 1%;
    gap: 20%;
    padding: 15px;

}

.Session-date{
    display: flex;
    flex-direction: column;
}

.Semester-chairman{
    display: flex;
    flex-direction: column;
}