* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Link {
  position: fixed;
  left: 15%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 4%;
  background: rgba(117, 136, 164, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(117, 136, 164, 1);
}

.rolelink {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(4, 24, 114);
  font-weight: 600;
  text-decoration: none;
}

.rolelink:hover {
  color: blue;
}

.rolelink:active {
  color: red;
}

.active {
  visibility: visible;
  transition: all 0.3s;
}

.hidden {
  visibility: hidden;
  transition: all 0.3s;
  transform: translateY(-100%);
}
