/* General CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FullFormPage {
  margin-top: 10%;
}

.Form {
  padding: 2%;
  border-radius: 0.3rem;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 15%;
  /* From https://css.glass */
background: rgba(70, 105, 158, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(70, 105, 158, 1);
}

.DropdownformRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1%;
}

.FormSubRow {
  width: 46%;
}

.FormRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;
}

.FormControl {
  padding: 6px 10px;
  border: 1px solid rgb(119, 110, 110);
  border-radius: 0.375rem;
  width: 100%;
}

.FormControl:focus {
  outline-color: rgb(37, 136, 175);
}

.Label {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1%;
}

/* DirectorForm */
.threeFormRowElement {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 32%;
}

.threeFormRowElementWithAdd {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 32%;
}

.CrossFormRow .threeFormRowElementWithAdd {
  width: 31%;
}

/* ChairmanForm & TeacherForm */
.TwoFormRowElementWithAdd {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 46%;
}

.CrossFormRow .TwoFormRowElementWithAdd {
  width: 45%;
}

.subLabel {
  font-size: 18px;
  font-weight: 600;
}

/* ChairmanForm & ChiefInvigilationForm */
.labelFlex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.childFormRowElementWithCrossAndAdd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
