* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FullFormPage {
  margin-top: 10%;
}

.Form {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 15%;
}

.FormRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}

.formRow {
  margin-bottom: 2%;
}

.FormSubRow {
  width: 46%;
}

.Label {
  font-size: 24px;
  font-weight: bold;
}
