/* General CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FullFormPage {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form {
  padding: 2%;
  border-radius: 0.3rem;
  width: 55%;
  margin-bottom: 15%;
  background-color: whitesmoke;
}

.DropdownformRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1%;
}

.FormSubRow {
  width: 46%;
}

.FormSubRow1 {
  width: 30%;
}

.FormRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 1%;
}

.coursesCrossFormRow {
  justify-content: flex-start;
  gap: 2%;
}

.FormControl {
  padding: 6px 10px;
  border: none;
  width: 100%;
  margin: 1%;
  outline: none;
}

.coursesFormControl {
  width: 46%;
}

.numberFormControl {
  width: 100%;
  outline: none;
  padding: 10px;
  border: 1px solid rgb(119, 110, 110);
  border-radius: 0.375rem;
}

.Label {
  font-size: 1.3rem;
  font-weight: 600;
}

/* DirectorForm */
.threeFormRowElement {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 32%;
  margin: 2px;
}

.threeFormRowElementWithAdd {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 32%;
}

.CrossFormRow .threeFormRowElementWithAdd {
  width: 31%;
}

/* Chairman form */
.FormRowNoCrossContainer {
  margin-top: 1%;
  width: 100%;
  border: 1px solid rgb(209, 206, 206);
  box-shadow: 1px 1px 2px 2px rgb(207, 224, 247);
  border-radius: 0.7rem;
  margin-bottom: 1.5%;
}

.CrossFormRow .FormRowNoCrossContainer {
  width: 90%;
}

.FormRowNoCross {
  margin-left: 5px;
  margin-top: 5px;
  width: 51%;
}

.firstTermpaperCompElement {
  width: 90%;
}

.CrossFormRow .firstTermpaperCompElement {
  width: 98%;
}

.labelTermpaperCompElement {
  width: 75%;
}

.CrossFormRow .labelTermpaperCompElement {
  width: 80%;
}

/* ChairmanForm & TeacherForm */
.TwoFormRowElementWithAdd {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 46%;
}

.CrossFormRow .TwoFormRowElementWithAdd {
  width: 45%;
}

.subLabel {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 400;
  margin-left: 2px;
  margin-bottom: 5px;
}

/* ChairmanForm & ChiefInvigilationForm */
.labelFlex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.childFormRowElementWithCrossAndAdd {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2%;
}
