* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.TablePageHeader {
  padding: 1%;
}

.generateBillTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%;
  color: rgb(5, 47, 109);
}

.selectSessionSemester {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 10%;
}

.selectSessionSemesterChild {
  width: 42%;
}

.printButton {
  color: rgb(21, 88, 133);
  margin-left: 68.5%;
  font-size: 18px;
  font-weight: 550;
  padding: 5px 16px;
  border-radius: 6px;
  background-color: rgb(254, 254, 254);
  border: 3px solid rgb(30, 90, 128);
  margin-top: 2%;
}

.printButton:hover {
  color: rgb(254, 254, 254);
  font-weight: bold;
  background-color: rgb(45, 113, 158);
  border: 3px solid rgb(21, 79, 116);
}

.Bill {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 0.3cm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .Bill {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

.BillTitle {
  font-size: 20px;
  font-weight: bold;
  color: rgb(21, 73, 107);
  text-align: center;
}

.smallTitle p {
  margin-top: 3%;
  font-size: 15px;
  text-align: center;
}

.TeacherInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 5%;
}

.PaymentBillTable {
  font-size: 13px;
  width: 100%;
  border: 1px solid rgb(214, 211, 211);
}

th {
  text-align: center;
  background-color: rgb(42, 115, 163);
  color: rgb(255, 255, 255);
}

th,
tr {
  height: 30px;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid rgb(214, 211, 211);
  vertical-align: middle;
}

th:nth-child(even) {
  text-align: left;
}

tr:nth-child(even) {
  background-color: rgb(209, 217, 221);
}

.criteriaCol {
  text-align: left;
  width: 65%;
}

.coursesCol {
  text-align: left;
  width: 25%;
}

.amountCol {
  text-align: right;
  width: 10%;
}

.netAmount {
  text-align: left;
  font-weight: bold;
  color: rgb(21, 73, 107);
}

/* .courses{
  font-size: 0.3rem;
} */
